.footer
  //- a(target="_blank", href="/")
  //-   span blan link
  //- a(href="https://www.caicai.me")  CaiCai 
  //- span &
  //- a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  .by_farbox
    //- a(href="https://hexo.io/zh-cn/", target="_blank") published with Hexo&#65281;
